/* These styles affect what happens when the cursor is focused on the slider (i.e. clicking it) */
.mySliders:focus {
  outline: none;
}

/* This is the "track" that the slider sits on  */
.mySliders::-webkit-slider-runnable-track {
  background: #ffffff;
  height: 3px;
  -webkit-appearance: none;
}

/* This is the moveable bit of the slider, known as the "thumb" */
.mySliders::-webkit-slider-thumb {
  width: 15px;
  height: 15px;
  background: #d61d3f;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -6px;
  border-radius: 8px;
}
